body {
    display: flex;
    justify-content: center;
}
div {
    display: flex;
}
.grid{
    width: 832px;
    height: 832px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}