body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
div {
    display: flex;
}
.grid{
    width: 720px;
    height: 720px;
    display: grid;
    align-items: center;
    justify-content: center;

}
.pixel{
    display: flex;
    height: 100%;
    width: 100%;
    
    border: 1px solid black;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 560px;
    padding: 10px;
}
button{
    font-size: 25px;
}
#title{
    font-size: 50px;
    padding: 10px;
}